In [1]:
import nltk
import re
import numpy as np # linear algebra
import pandas as pd # data processing
import random
import matplotlib.pyplot as plt

from bs4 import BeautifulSoup
from nltk.corpus import stopwords
from string import punctuation
from nltk.stem import SnowballStemmer
stemmer=SnowballStemmer('english')

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

from nltk.tokenize import word_tokenize


#import pandas_profiling

%matplotlib inline

In [2]:
raw_dataset=pd.read_csv('/content/drive/MyDrive/NLP/Amazon_Unlocked_Mobile.csv')
raw_dataset.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0

In [3]:
raw_dataset.tail()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
413835,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,5,another great deal great price,0.0
413836,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,3,Ok,0.0
413837,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,5,Passes every drop test onto porcelain tile!,0.0
413838,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,3,I returned it because it did not meet my needs...,0.0
413839,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,4,Only downside is that apparently Verizon no lo...,0.0

In [4]:
df=raw_dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413840 entries, 0 to 413839
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Product Name  413840 non-null  object
 1   Brand Name    348669 non-null  object
 2   Price         407907 non-null  float64
 3   Rating        413840 non-null  int64
 4   Reviews       413778 non-null  object
 5   Review Votes  401544 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 18.9+ MB

In [7]:
df.shape

(413840, 6)

In [8]:
df.describe()

               Price         Rating   Review Votes
count  407907.000000  413840.000000  401544.000000
mean      226.867155       3.819578       1.507237
std       273.006259       1.548216       9.163853
min         1.730000       1.000000       0.000000
25%        79.990000       3.000000       0.000000
50%       144.710000       5.000000       0.000000
75%       269.990000       5.000000       1.000000
max      2598.000000       5.000000     645.000000

In [9]:
df=df[['Reviews','Rating']]

In [10]:
df.head()

                                             Reviews  Rating
0  I feel so LUCKY to have found this used (phone...       5
1  nice phone, nice up grade from my pantach revu...       4
2                                       Very pleased       5
3  It works good but it goes slow sometimes but i...       4
4  Great phone to replace my lost phone. The only...       4

In [11]:
df.tail()

                                                  Reviews  Rating
413835                     another great deal great price       5
413836                                                 Ok       3
413837        Passes every drop test onto porcelain tile!       5
413838  I returned it because it did not meet my needs...       3
413839  Only downside is that apparently Verizon no lo...       4

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413840 entries, 0 to 413839
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Reviews  413778 non-null  object
 1   Rating   413840 non-null  int64
dtypes: int64(1), object(1)
memory usage: 6.3+ MB

In [14]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413778 entries, 0 to 413839
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Reviews  413778 non-null  object
 1   Rating   413778 non-null  int64
dtypes: int64(1), object(1)
memory usage: 9.5+ MB

In [18]:
df.isnull()      
# Returns a boolean matrix, if the value is NaN then True otherwise False
df.isnull().sum() 
# Returns the column names along with the number of NaN values in that particular column

Reviews    0
Rating     0
dtype: int64

In [17]:
df=df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413778 entries, 0 to 413777
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Reviews  413778 non-null  object
 1   Rating   413778 non-null  int64
dtypes: int64(1), object(1)
memory usage: 6.3+ MB

In [ ]:
import nltk

In [20]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [21]:
Cstopwords=set(stopwords.words('english')+list(punctuation))
from nltk.stem import WordNetLemmatizer
lemma=WordNetLemmatizer()
def clean_review(review_column):
    review_corpus=[]
    for i in range(0,len(review_column)):
        review=review_column[i]
        #review=BeautifulSoup(review,'lxml').text
        review=re.sub('[^a-zA-Z]',' ',review)
        review=str(review).lower()
        review=word_tokenize(review)
        #review=[stemmer.stem(w) for w in review if w not in Cstopwords]
        review=[lemma.lemmatize(w) for w in review ]
        review=' '.join(review)
        review_corpus.append(review)
    return review_corpus

In [22]:
review_column=df['Reviews']
review_corpus=clean_review(review_column)

In [23]:
df['clean_review']=review_corpus
df.tail(20)

,Reviews,Rating,clean_review
413758,They said phone was normal wear but it was a l...,1,they said phone wa normal wear but it wa a lie...
413759,"You could shoot this out of a potato gun, and ...",5,you could shoot this out of a potato gun and p...
413760,Bought this for my mother and she loves it. Gr...,5,bought this for my mother and she love it grea...
413761,"Excellent phone, as advertised. Love the push-...",5,excellent phone a advertised love the push to ...
413762,works great and picks up signal in place my ot...,4,work great and pick up signal in place my othe...
413763,"Great phone. Large keys, best flip phone I hav...",5,great phone large key best flip phone i have o...
413764,"Pros...Works great, very durable, easy to navi...",5,pro work great very durable easy to navigate s...
413765,just as described perfect for the price,5,just a described perfect for the price
413766,Would not work,1,would not work
413767,"Speaker phone doesn't work, but phone works good",3,speaker phone doesn t work but phone work good
413768,LOVE IT,5,love it
413769,"Item was listed as new, but was not. When we t...",1,item wa listed a new but wa not when we tried ...
413770,good rugged phone that has a long-lasting batt...,4,good rugged phone that ha a long lasting batte...
413771,The phone is good,3,the phone is good
413772,used hard,1,used hard
413773,another great deal great price,5,another great deal great price
413774,Ok,3,ok
413775,Passes every drop test onto porcelain tile!,5,pass every drop test onto porcelain tile
413776,I returned it because it did not meet my needs...,3,i returned it because it did not meet my need ...
413777,Only downside is that apparently Verizon no lo...,4,only downside is that apparently verizon no lo...